@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes.css';

@import './fonts.css';

@layer base {
  body {
    @apply bg-APP_BACKGROUND font-vietnam;
  }
  h1 {
    @apply text-xl !font-normal font-montserrat;
  }
  h2 {
    @apply text-lg !font-normal font-montserrat;
  }
  p {
    @apply text-sm;
  }
}
      
@layer components {
  .full {
    @apply w-full h-full;
  }

  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }

  .centered {
    @apply justify-center items-center;
  }

  .main-red-button {
    @apply bg-RED_MEDIUM text-GREY_LIGHT row centered font-bold px-8 py-1 rounded-md text-sm;
  }

  .card-common-button {
    @apply w-[8rem] lg:w-[8rem] mt-4 lg:mx-4 text-GREY_LIGHT row centered font-bold px-8 py-1 rounded-md text-sm
  }

  .header-image-container {
    @apply h-[31rem] w-full py-20;
  }
}

/* START FLIP CARD STYLES & ANIMATIONS */

.flip-card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}

.flip-card-inner {
  position: absolute;
  width: 30rem;
  height: 17rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 30rem;
  height: 17rem;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CF142A;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem#B0B5D3;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/* END FLIP CARD STYLES & ANIMATIONS */